In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
df = pd.read_csv('Resources/lending_data.csv')
print(df.shape)
df.head()

(77536, 8)

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

In [3]:
# Review the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77536 entries, 0 to 77535
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   loan_size         77536 non-null  float64
 1   interest_rate     77536 non-null  float64
 2   borrower_income   77536 non-null  int64
 3   debt_to_income    77536 non-null  float64
 4   num_of_accounts   77536 non-null  int64
 5   derogatory_marks  77536 non-null  int64
 6   total_debt        77536 non-null  int64
 7   loan_status       77536 non-null  int64
dtypes: float64(3), int64(5)
memory usage: 4.7 MB

In [4]:
df.describe()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
count,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000,77536.000000
mean,9805.562577,7.292333,49221.949804,0.377318,3.826610,0.392308,19221.949804,0.032243
std,2093.223153,0.889495,8371.635077,0.081519,1.904426,0.582086,8371.635077,0.176646
min,5000.000000,5.250000,30000.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,8700.000000,6.825000,44800.000000,0.330357,3.000000,0.000000,14800.000000,0.000000
50%,9500.000000,7.172000,48100.000000,0.376299,4.000000,0.000000,18100.000000,0.000000
75%,10400.000000,7.528000,51400.000000,0.416342,4.000000,1.000000,21400.000000,0.000000
max,23800.000000,13.235000,105200.000000,0.714829,16.000000,3.000000,75200.000000,1.000000

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [5]:
# Separate the data into labels and features

# Separate the y variable, the labels

y = df['loan_status']

# Separate the X variable, the features

X = df.drop(columns=['loan_status'])


print("Features shape:", X.shape)
print("Labels shape:", y.shape)

Features shape: (77536, 7)
Labels shape: (77536,)

In [6]:
# Review the y variable Series
y.head()

0    0
1    0
2    0
3    0
4    0
Name: loan_status, dtype: int64

In [7]:
print("\nValue Counts:\n", y.value_counts())  # Count occurrences of each class
print("\nData Type:", y.dtype)  # Check data type
print("\nMissing Values:", y.isnull().sum())

Value Counts:
 loan_status
0    75036
1     2500
Name: count, dtype: int64

Data Type: int64

Missing Values: 0

In [8]:
# Review the X variable DataFrame
print(X.head())

   loan_size  interest_rate  borrower_income  debt_to_income  num_of_accounts  \
0    10700.0          7.672            52800        0.431818                5
1     8400.0          6.692            43600        0.311927                3
2     9000.0          6.963            46100        0.349241                3
3    10700.0          7.664            52700        0.430740                5
4    10800.0          7.698            53000        0.433962                5

   derogatory_marks  total_debt
0                 1       22800
1                 0       13600
2                 0       16100
3                 1       22700
4                 1       23000

In [9]:
print("\nSummary Statistics:\n", X.describe())  # Summary statistics
print("\nMissing Values:\n", X.isnull().sum())  # Check for missing values
print("\nData Types:\n", X.dtypes)  # Check data types of each column
print("\nShape of X:", X.shape)

Summary Statistics:
           loan_size  interest_rate  borrower_income  debt_to_income  \
count  77536.000000   77536.000000     77536.000000    77536.000000
mean    9805.562577       7.292333     49221.949804        0.377318
std     2093.223153       0.889495      8371.635077        0.081519
min     5000.000000       5.250000     30000.000000        0.000000
25%     8700.000000       6.825000     44800.000000        0.330357
50%     9500.000000       7.172000     48100.000000        0.376299
75%    10400.000000       7.528000     51400.000000        0.416342
max    23800.000000      13.235000    105200.000000        0.714829

       num_of_accounts  derogatory_marks    total_debt
count     77536.000000      77536.000000  77536.000000
mean          3.826610          0.392308  19221.949804
std           1.904426          0.582086   8371.635077
min           0.000000          0.000000      0.000000
25%           3.000000          0.000000  14800.000000
50%           4.000000          0.000000  18100.000000
75%           4.000000          1.000000  21400.000000
max          16.000000          3.000000  75200.000000

Missing Values:
 loan_size           0
interest_rate       0
borrower_income     0
debt_to_income      0
num_of_accounts     0
derogatory_marks    0
total_debt          0
dtype: int64

Data Types:
 loan_size           float64
interest_rate       float64
borrower_income       int64
debt_to_income      float64
num_of_accounts       int64
derogatory_marks      int64
total_debt            int64
dtype: object

Shape of X: (77536, 7)

### Step 3: Split the data into training and testing datasets by using `train_test_split`.

In [10]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [11]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
logreg_model = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using training data
lr_model = logreg_model.fit(X_train, y_train)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [12]:
# Make a prediction using the testing data
preds = logreg_model.predict(X_test)
pd.DataFrame({'Predictions': preds, 'Actual': y_test})

       Predictions  Actual
60914            0       0
36843            0       0
1966             0       0
70137            0       0
27237            0       0
...            ...     ...
30965            1       0
30996            0       0
69036            0       0
23886            0       0
59106            0       0

[15508 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Generate a confusion matrix.

* Print the classification report.

In [13]:
# Generate a confusion matrix for the model
matrix = confusion_matrix(y_test, preds)
matrix

array([[14924,    77],
       [   31,   476]])

In [14]:
# Print the classification report for the model
classification = classification_report(y_test, preds)
print(classification)

              precision    recall  f1-score   support

           0       1.00      0.99      1.00     15001
           1       0.86      0.94      0.90       507

    accuracy                           0.99     15508
   macro avg       0.93      0.97      0.95     15508
weighted avg       0.99      0.99      0.99     15508

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The logistic regression model demonstrates a 97% overall accuracy in predicting both healthy loans (0) and high-risk loans (1).

---